#!/bin/sh
# Default settings for gpsd.
# Setting START_DAEMON to "false" prevents the gpsd
# daemon from being started by the init script.
# Changing USBAUTO to "false" disables hotplugging support.

START_DAEMON="true"
USBAUTO="true"
SOCKET="/var/run/gpsd.sock"
PIDFILE="/var/run/gpsd.pid"
OPTIONS=""
DEVICES=""
